name: Build APK

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
      
      - name: Decode Keystore
        run: |
          echo "${{ secrets.KEYSTORE_BASE64 }}" > keystore.base64
          base64 -d keystore.base64 > keystore
          
      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew
      
      - name: Build Release APK
        env:
          SIGNING_STORE_PASSWORD: ${{ secrets.SIGNING_STORE_PASSWORD }}
          SIGNING_KEY_ALIAS: ${{ secrets.SIGNING_KEY_ALIAS }}
          SIGNING_KEY_PASSWORD: ${{ secrets.SIGNING_KEY_PASSWORD }}
        run: ./gradlew assembleRelease
      
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: app/build/outputs/apk/release/*.apk
          
      - name: Delete old latest release and tag
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          LATEST_TAG=$(git tag --list latest)
          gh release delete "$LATEST_TAG" --yes || echo "No previous latest release found to delete."
          git push origin --delete "$LATEST_TAG" || echo "No previous latest tag found to delete."
          
      - name: Create latest Release
        uses: softprops/action-gh-release@v2
        with:
          name: "MobileGL Latest Plugin File"
          tag_name: "latest"
          target_commitish: ${{ github.sha }}
          body: |
            - 这是最新构建的 MobileGL 插件，将在下一次 Github Actions 运行时被替换

            - This is the newly built MobileGL plugin which will be replaced during the next Github Actions run
          files: |
            app/build/outputs/apk/release/*.apk
